/* @import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap"); */

@font-face {
  font-family: font-bold;
  src: url("./assets/fonts/EduAUVICWANTPre-Bold.ttf");
}

@font-face {
  font-family: font-medium;
  src: url("./assets/fonts/EduAUVICWANTPre-Medium.ttf");
}

:root {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: font-medium;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  vertical-align: middle;
}

button {
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.top-header {
  padding: 10px 50px;
  text-align: center;
  color: white;
  background-color: green;
  font-size: 12px;
}

.top-header h5 {
  font-weight: lighter;
}

header {
  padding: 15px 0;
  background-color: teal;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 20px;
}

.header-content a {
  color: white;
}

.hero {
  background-color: orange;
  color: white;
  position: relative;
}

.social-media-icons {
  position: absolute;
  padding: 15px;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 24px;
}

.social-media-icons a {
  border-radius: 50%;
  border: 1px solid;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  font-family: font-bold;
}

.box {
  height: 50px;
  width: 50px;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.faq,
.products {
  height: 50vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq {
  background-color: darkslategray;
}

.products {
  background-color: chocolate;
  height: 100vh;
}

.arrow {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
}

footer {
  background-color: teal;
  color: white;
  text-align: center;
  padding: 30px;
}
