* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  width: 80%;
  margin: 0 auto;
} */

.parent {
  padding: 10px;
  background-color: teal;
  width: 50%;
  height: 100vh;
}

#px {
  background: orange;
  width: 50vw;
  padding: 10px;
  border: 5px solid;
  margin: 50px;
  font-size: 10px;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.4em;
}

p {
  font-size: 1.8em;
}
